<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apimusernormalization.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/439d90f7-9dc7-43f0-b2b5-d4e02f040e22/resourcegroups/cemex_sandbox/providers/Microsoft.Web/sites/APIMUserNormalization</ResourceId>
    <UserName>$APIMUserNormalization</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apimusernormalization.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>